{% extends 'url_shortener/base.html' %}
{% block title %}Preview | {{ title }}{% endblock %}
{% block content %}
{% autoescape on %}
<h2>Preview of <strong>{{ full_alias }}</strong></h2>
<p>This short URL redirects to:</p>
<div id="url" class="lead">{{ url }}</div>
<div class="btn-toolbar" role="toolbar" aria-label="...">
  <a class="btn btn-primary" href="{{ url }}">Proceed to this site</a>
  <a class="btn btn-success" href="{% url 'url_shortener:index' %}">Shorten another URL</a>
</div>
{% endautoescape %}
{% endblock %}
