{% extends 'url_shortener/base.html' %}

{% block title %}Preview - {{ title }}{% endblock %}

{% block navextra %}
<li role="presentation" class="active"><a href="{{ request.get_full_path }}">Preview</a></li>
{% endblock %}

{% block content %}
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-info" role="info">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
      <span class="sr-only">Information</span>
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
<p><input type="text" id="shortened-url" readonly class="form-control input-lg" value="{{ absolute_short_url }}" /></p>
<p>This short URL redirects to:</p>
<div id="url" class="lead">{{ url }}</div>
<div class="btn-toolbar" role="toolbar" aria-label="buttons-toolbar">
  <a class="btn btn-primary" href="{{ url }}">Proceed to this site</a>
  <a class="btn btn-success" href="{% url 'url_shortener:index' %}">Shorten another URL</a>
</div>
{% endblock %}

{% block bodyextra %}
<script>
$('#shortened-url').focus().select().click(function() {
  $(this).select();
});
</script>
{% endblock %}
