.table thead > tr > td {
  font-weight: bold;
}
html, body {
  height: 100%;
}
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}
#push, #footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
}
.credit {
  margin: 20px 0;
  color: #999;
}
